* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    position: relative;
    background-color: black;
    height: 1000px;
}
/* Utilidades */
.mb {
    margin-bottom: 20px;
}

/* Cabeçalho */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    z-index: 10000;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.logo {
    margin-top: 5px;
    width: 150px;
}

header ul {
    list-style: none;
}

header li {
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-left: 20px;
}

#btnVaga {
    color: Gold;
    padding: 15px 10px 15px 10px;
    border: 2px solid black;
    border-radius: 5px;
}

#main {
    margin-top: 90px;
    background-image: linear-gradient(black, black), url(../assets/galeria/02.jpg);
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.89);
}

.divContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 600px;
}

#mainText {
    width: 38%;
}

#mainText h1 {
    font-size: 60px;
}

#mainText strong {
    background: -webkit-linear-gradient(315deg, rgb(224, 194, 23), gold, gold);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mainText h2 {
    font-size: 35px;
}

#mainText p {
    font-weight: lighter;
}

#video {
    margin-left: 15px;
}

/* InfoBar */

#infoBar {
    display: flex;
    background-color: #ddb02e;
    justify-content: center;
    padding: 20px 0 20px 0;
}

#infoBar li{
    font-size: 20px;
    display: inline-block;
    margin-left: 100px;
}

.data::before {
    content: url(../assets/calendar-icon.png);
}

.local::before {
    content: url(../assets/pin-icon.png);
}

#btnParticipar {
    color: white;
    font-weight: bolder;
    background-color: #D94E42;
    padding: 15px 40px 15px 40px;
    border: 2px solid #D94E42;
    border-radius: 15px;
}

#btnParticipar:hover {
    color: #D94E42;
    background-color: transparent;
    cursor: pointer;
}